apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: platform-stage
  namespace: argocd
spec:
  description: PlatformForge stage platform services

  sourceRepos:
    - "*"

  destinations:
    - server: "https://kubernetes.default.svc"
      namespace: "*"

  clusterResourceWhitelist:
    - group: "*"
      kind: "*"

  namespaceResourceWhitelist:
    - group: "*"
      kind: "*"

  orphanedResources:
    warn: false
