apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gatekeeper-prod
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: platformforge
    platformforge/env: prod
    platformforge/service: gatekeeper
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    notifications.argoproj.io/subscribe.on-health-degraded: ""
    notifications.argoproj.io/subscribe.on-sync-failed: ""
    notifications.argoproj.io/subscribe.on-sync-succeeded: ""
spec:
  project: platform-prod

  sources:
    - repoURL: https://open-policy-agent.github.io/gatekeeper/charts
      chart: gatekeeper
      targetRevision: "3.18.2"
      helm:
        valueFiles:
          - $values/platform/gatekeeper/base-values.yaml
          - $values/platform/gatekeeper/overlays/prod/values.yaml

    - repoURL: {{ platformforge_repo_url }}
      targetRevision: {{ platformforge_repo_revision }}
      ref: values

    - repoURL: {{ platformforge_repo_url }}
      targetRevision: {{ platformforge_repo_revision }}
      path: platform/gatekeeper/constraints/templates

    - repoURL: {{ platformforge_repo_url }}
      targetRevision: {{ platformforge_repo_revision }}
      path: platform/gatekeeper/constraints/prod

  destination:
    server: https://kubernetes.default.svc
    namespace: {{ gatekeeper_prod_namespace }}

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
    retry:
      limit: 3
      backoff:
        duration: 30s
        factor: 2
        maxDuration: 3m
