apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: trivy-operator-stage
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: platformforge
    platformforge/env: stage
    platformforge/service: trivy-operator
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    notifications.argoproj.io/subscribe.on-health-degraded: ""
    notifications.argoproj.io/subscribe.on-sync-failed: ""
spec:
  project: platform-stage

  sources:
    - repoURL: https://aquasecurity.github.io/helm-charts/
      chart: trivy-operator
      targetRevision: "0.32.1"
      helm:
        valueFiles:
          - $values/platform/trivy-operator/base-values.yaml
          - $values/platform/trivy-operator/overlays/stage/values.yaml

    - repoURL: {{ platformforge_repo_url }}
      targetRevision: {{ platformforge_repo_revision }}
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: trivy-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 3
      backoff:
        duration: 30s
        factor: 2
        maxDuration: 3m
