apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: {{ monitoring_namespace }}
  labels:
    app.kubernetes.io/part-of: platformforge
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ prometheus_hostname }}`)
      kind: Rule
      services:
        - name: prometheus-operated
          port: 9090
          scheme: http
  tls: {}
